@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e6ff;
    width: 100vw;        /* 100vw = make it wide as the current viewport. */
    overflow-x: hidden;  /*content overflows a block-level element's left and right edges*/
    font-family: "Montserrat",sans-serif;
}